# This is the gitignore for my HP Spectre x360 laptop Pop_OS! /home directory repo

wp*

.cache/
.cargo/
.dbus

.dropbox/
.dropbox-dist/

.elinks/globhist
.elinks/gotohist
.elinks/cookies
.elinks/exmodehist

.fonts/
.fzf/
.gnupg/
.ipython/
.local/
.mozilla/
.node-gyp/
.node_modules_global/
.npm/
.nuget/
.nv/
.pki/
.pnpm*
.pylint*
.rustup/
.psensor/log
.ssh/
.ssr/
.themes/
.thumbnails/
.var/
.venv/
.zoom/

Desktop/
Documents/
Downloads/
Dropbox/
Mail/
Music/
NotDropbox/
Pictures/
Public/
Templates/
Videos/
dev/
go/
mail/
tar

..Xauthority.swp
.history
.pythonhist
.wget-hsts
.*_history
.face
.lesshst
.netrc
.rnd
.viminfo
.wakatime.*
.xsession-errors*
.xournal/recent-files
.xournalpp/autosave/
.xournalpp/errorlogs/
.xournalpp/metadata/

package-lock.json


# ignores for individual config directories
.config/autostart/
.config/BraveSoftware/
.config/Electron/

.config/Min/
!.config/Min/userscripts/
!.config/Min/settings.json

.config/MongoDB\ Compass/
.config/Unknown\ Organization/
.config/autostart/
.config/bashtop/error.log
.config/chromium/
.config/com.github.xournalpp.xournalpp/autosave/
.config/com.github.xournalpp.xournalpp/errorlogs/
.config/configstore/
.config/google-chrome-unstable/
.config/evolution/
.config/fish/
.config/gthumb/
.config/gnome-session/
.config/gtk-*
.config/ibus/

.config/libreoffice/
.config/luna/

.config/micro/backups/
.config/micro/buffers/

.config/netsurf/Cookies
.config/netsurf/URLs

.config/nnn/plugins/
.config/nnn/mounts/
.config/nnn/sessions/

.config/plank/
.config/pulse/
.config/solaar/
.config/sublime-merge/
!.config/sublime-merge/Packages/User/

.config/sublime-text-3/
!.config/sublime-text-3/Packages/User/

.config/tbsm/

.config/xfce4/

log.txt
*.log


