# This is the gitignore for my Arch linux home folder template
#  Efrem Rensi 09/2020

.*_history
.wakatime.*

.lesshst
go/
dev/
Downloads/
.zoom/
.ssh/
.psensor
.pki
.npm
.rnd
.node_modules_global
.mozilla
.local
.gnupg
.fontconfig
.fltk
.cache
.cargo
dev/heatflask/

# only elinks.conf
.config/.elinks/
!.config/.elinks/elinks.conf

.config/aerc/accounts.conf

.config/chromium/
.config/configstore/
.config/dconf/
.config/font-manager/
.config/fontconfig/
.config/get-3.0/
.config/pulse
.config/sublime-merge/
.config/kak/plugins/
.config/micro/buffers/
.config/nnn/.selection
.config/sublime-text-3/
!.config/sublime-text-3/Packages/User/

.config/QtProject.conf

